/build
opennhrp
opennhrpctl
opennhrp-ha
test_extensions
test_ha_wire
test_ha_auth
test_ha_seen
test_ha_control
test_ha_store
test_ha_delta
test_ha_failback
test_ha_managed
test_ha_join
test_coordinator
*.o
*.d
*.cmd
*~
